.span {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    height: 31px;
    width: fit-content;
    margin-left: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    padding: 6px 4px 8px 5px;
}

